[Unit]
Description=Crane ZOOM Display (dedicated X server, no login)
After=multi-user.target systemd-logind.service
After=local-fs.target

[Service]
Type=simple
User=root
Group=root

Environment="DISPLAY=:0"
Environment="QT_QPA_PLATFORM=xcb"
Environment="CUDA_VISIBLE_DEVICES=0"
Environment="PYTHONUNBUFFERED=1"
Environment="FORCE_COLOR=1"
WorkingDirectory=/home/lift/code/king_detector

ExecStart=/usr/bin/xinit /home/lift/code/king_detector/admin/xinitrc-crane -- /usr/lib/xorg/Xorg :0 vt7 -nolisten tcp

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
